---
http_interactions:
- request:
    method: get
    uri: http://api.fixer.io/2017-10-22?base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 20 Oct 2017 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"USD","date":"2017-10-20","rates":{"AUD":1.2739,"BGN":1.6549,"BRL":3.1747,"CAD":1.2494,"CHF":0.9813,"CNY":6.6185,"CZK":21.738,"DKK":6.2987,"GBP":0.75836,"HKD":7.803,"HRK":6.3518,"HUF":260.73,"IDR":13510.0,"ILS":3.4876,"INR":65.01,"JPY":113.17,"KRW":1130.6,"MXN":18.893,"MYR":4.225,"NOK":7.9662,"NZD":1.4288,"PHP":51.502,"PLN":3.5846,"RON":3.8899,"RUB":57.428,"SEK":8.1609,"SGD":1.3584,"THB":33.16,"TRY":3.663,"ZAR":13.684,"EUR":0.84617}}'
  recorded_at: Sun, 22 Oct 2017 09:27:23 GMT
recorded_with: VCR 3.0.3
